@charset "UTF-8";

body{
    height: 97vh;
    background-color: black;
    background-image: url(imagem/wallpaper002.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
}