@charset "UTF-8";

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #000000;
}

#principal{
    text-align: center;
    color: #000000;
    font-size: 35px;
}

.basico{
    color: rgb(67, 153, 67);
}
.intermediario{
    color: rgb(152, 153, 67);
}
